@charset "utf-8";


* {margin:0; padding:0; box-sizing:border-box;}
    ul,li,ol {list-style:none; margin:0; padding:0;}
    a {text-decoration:none;}


@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
    

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YeolrinMyeongjo-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/YeolrinMyeongjo-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'YESMyoungjo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESMyoungjo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'YeolrinMyeongjo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/YeolrinMyeongjo-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }


@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

    
@font-face {
    font-family: 'HANBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/HANBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@media (max-width:599px) {
    header {background-color: #fff;}
    header .small{width:100%; display:flex; align-items:center; justify-content:flex-start; padding:20px;}
    header #c a{padding:15px; text-decoration:none; display:block;}
    header #c a:hover {color:#ef5350; text-decoration:none; display:block;}

    .logo {width:150px; height:70px; line-height:80px;}
    .menubar {width:70px; height:70px; line-height:80px;}
    .menubar:hover {cursor:pointer;}

    #a,#c {display:none; font-family: 'BMDOHYEON';}
    #b {font-family: 'BMDOHYEON';}
    img {cursor:pointer;}
   }

   .overlay {height:100%; width:0; position:fixed; z-index:103; top:0; left:0;
             overflow-x:hidden; transition:0.5s; background-color: #eee; opacity:0.5;}
   .overlay-cotent {position:relative; top:0; width:100%; text-align:center;
             display:block; margin-top:30px;}
   .overlay a {padding:60px; line-height:1%; font-size:50px; color:#818181;
              transition: 0.3s; display:block;}
   .overlay a:first-of-type {margin-top:100px;}
   .overlay a:hover, .overlay a:focus {color:#000;}
   .overlay .closebtn {position:absolute; top:0; right:15px; font-size:60px;}
   
   @media (min-width:600px) {
    header {background-color: #fff;}
    header .small{width:100%; display:flex; align-items:center; justify-content:flex-start; padding:20px;}
    header  a{padding:15px; text-decoration:none; display:block;}
    header a:hover {color:#ef5350; text-decoration:none; display:block;}

    .logo {width:150px; height:70px; line-height:80px; margin: 0 0 0 10px; }
    .menubar {width:70px; height:70px; line-height:80px;}
    .menubar:hover {cursor:pointer;}

    #a,#c {display:none; font-family: 'BMDOHYEON';}
    #b { font-family: 'BMDOHYEON';}
    img {cursor:pointer;}
   }


    footer {width:100%; height: 520px; margin:0 auto; background-color:#e4e4e4;
             background-image:linear-gradient(to bottom right,#e4e4e4,#d6dee2,#c5dbe7);}
    .f_box {width:1200px; height:520px; background-color: lightpink; margin:0 auto; 
            display:flex; justify-content: center;}

    /* 하단 왼쪽 */
    .f_l_box {width:600px; height:510px; background-color: lightsalmon;}
   
    .keep_box {width:590px; height:150px; background-color: #e4e4e4;}
    .keep_box h1 {font-family:"S-CoreDream-4Regular"; font-size:20px; color:#000;    
                  letter-spacing:1px; margin-top:10px;}


    .keep_search_box {box-sizing:border-box;} 
    .keep_search_box input[type=text] {
        padding:10px; font-size:17px; 
        float:left; width:80%; background:#d8d8d8;}
    .keep_search_box button { float:left; width:20%; padding:10px; background:#2196F3;
            color:#fff; font-size:17px; border:10px solid gray; border-left:none; cursor:pointer;}
    .keep_search_box button:hover {background:#000;}     
    .keep_search_box::after{content:""; clear:both; display:table;}       


    .f_icon {width:400px; height:80px; background-color: aqua; }
    .fa-instagram-square:before {
        content: "\e055";
    }
    .f_icon .fab{color:#fff; font-size:50px; margin:10px;}
    .f_icon .fab:hover {color:red;}
    .f_customer {width:600px; height:200px; background-color:green;}
    .f_customer h1 {font-family:"S-CoreDream-4Regular"; font-size:20px; color:#000;
                   letter-spacing:1px; margin-top:10px;}
    .f_customer p {font-family:"HANBatang"; font-size:14px; color:#000;
                     padding-top:5px;line-height:19px;}
    /* 하단 왼쪽 */

    
    /* 하단 오른쪽 */
    .f_r_box {width:600px; height:510px;
              display:flex; flex-direction:row;}
    .company {width:175px; height:450px; }
    .company h1 {font-family:"S-CoreDream-4Regular"; font-size:20px; color:#000;
                 letter-spacing:1px; margin-top:10px; padding-left:40px;}
    .company p {font-family:"GyeonggiBatang"; font-size:17px; color:#000;
                padding-top:5px; padding-left:40px;line-height:25px;}
    .customer_care {width:220px; height:450px; ;}
    .customer_care h1 {font-family:"S-CoreDream-4Regular"; font-size:20px; color:#000;
                      letter-spacing:1px; margin-top:10px; padding-left:20px;}
    .customer_care p {font-family:"GyeonggiBatang"; font-size:17px; color:#000;
                      padding-top:5px; padding-left:20px;line-height:25px;}
    .shop {width:200px; height:450px; ;}
    .shop h1 {font-family:"S-CoreDream-4Regular"; font-size:20px; color:#000;
             letter-spacing:1px; margin-top:10px; padding-left:20px;}
    .shop p {font-family:"GyeonggiBatang"; font-size:17px; color:#000;
             padding-top:5px; padding-left:20px; line-height:25px; }

    /* 하단 오른쪽 */