@charset "utf-8";

   
    body {background-color: #e4e4e4;}


   #slider{width:100%; height:700px; background-color:#fbe8e4;}

    .slide_wrap {width: 1200px; height: 700px; margin: 0px auto; position: relative; overflow:hidden; }

    .slide {width:3600px; height:100%;}

    .slide_wrap span{position: absolute; top:50%; display:block; font-size:40px;
     color:#fff; line-height:20px; background-color: #ccc4a5; cursor:pointer; width:45px; height:50px; transform: translateY(-50%); z-index:30;}

     .main_prev {left:0; border-radius: 50% 50% 50% 50%; padding:10px 7px;}
     .main_next {right:0; border-radius: 50% 50% 50% 50%; padding:10px 12px;}

    /* 첫번째 메인 슬라이드 */
    .main_slide_1 {float:left; width:1200px; height:700px; background-color:#fbe8e4; margin: 0 auto; position:relative;}
    .main_slide_1 h1 { font-family:"yg-jalnan"; font-size:95px; text-align:center; 
                text-transform: uppercase; color:#fff; padding-top:105px; line-height:100px;}
    .main_slide_1 h3 { font-family:"HANBatang"; font-size:25px; text-align:center; color:#ea5f54; letter-spacing:1px; margin-top:40px; line-height:30px;}
  
    .main_slide_1 img:first-child {width:197px; height:244px; position: absolute; top:20px; right:26px;}
    .main_slide_1 img:nth-child(2)  {width:156px; height:189px;  position: absolute; top:240px; left:15px;}
    .main_slide_1 img:nth-child(3) {width:335px; height:332px;  position: absolute; bottom:108px; left:70px;}
    .main_slide_1.main_slide_box img:nth-child(4)  {width:160px; height:143px;  position: absolute; bottom:68px; left:53px;}
 
    .main_slide_1 .main_btn_s {font-family:"S-CoreDream-5Medium"; font-size:15px; width:170px; height:80px; border-radius: 50px; color:#fff; position: absolute; top:52%; left:50%; background-color:#ea5f54; margin:140px 0 0 -85px;transform: scale(1.0); transition:0.3s; border:0; cursor:pointer;}
    .main_slide_1 .main_btn_s:hover {background-color:#212121; cursor:pointer; transform: scale(1.1); transition: all 0.3s ease-in-out;}
     /* 첫번째 메인 슬라이드 */
 
  
 
     /* 두번째 메인 슬라이드 */
     .main_slide_2 {float:left;  width:1200px; height:700px; background-color:#fdefc2; margin: 0 auto; position:relative;}
     .main_slide_2 h1 { font-family:"yg-jalnan"; font-size:95px; text-align:center; 
                 text-transform: uppercase; color:#fff; padding-top:105px; line-height:100px;}
     .main_slide_2 h3 { font-family:"HANBatang"; font-size:25px; text-align:center; color:#f0b119; letter-spacing:1px; margin-top:40px; line-height:30px;}
 
     .main_slide_2 img:first-child {width:548px; height:375px; position: absolute; top:262px; right:55px;}
     .main_slide_2 img:nth-child(2)  {width:335px; height:342px;  position: absolute; top:253px; left:70px;}
     .main_slide_2 img:nth-child(3) {width:70px; height:45px;  position: absolute; top:90px; left:110px;}
 
     .main_slide_2 .main_btn_s {font-family:"S-CoreDream-5Medium"; font-size:15px; width:170px; height:80px; border-radius: 50px; color:#fff; position: absolute; top:52%; left:50%; background-color:#f0b119; margin:140px 0 0 -85px;transform: scale(1.0); transition:0.3s; border:0; cursor:pointer;}
     .main_slide_2 .main_btn_s:hover {background-color:#212121; cursor:pointer; transform: scale(1.1); transition: all 0.3s ease-in-out;}
     /* 두번째 메인 슬라이드 */
 
 

     /* 세번째 메인 슬라이드 */
     .main_slide_3 {float:left;  width:1200px; height:700px; background-color:#e6e3db; margin: 0 auto; position:relative;}
     .main_slide_3 h1 { font-family:"yg-jalnan"; font-size:95px; text-align:center; 
                 text-transform: uppercase; color:#fff; padding-top:105px; line-height:100px;}
     .main_slide_3 h3 { font-family:"HANBatang"; font-size:25px; text-align:center; color:#908975; letter-spacing:1px; margin-top:40px; line-height:30px;}
 
     .main_slide_3 img:first-child {width:88px; height:54px; position: absolute; top:68px; left:508px;}
     .main_slide_3 img:nth-child(2)  {width:335px; height:342px;  position: absolute; top:280px; left:50px;}
     .main_slide_3 img:nth-child(3) {width:187px; height:118px;  position: absolute; bottom:63px; left:390px;}
     .main_slide_3 img:nth-child(4) {width:437px; height:246px;  position: absolute; bottom:71px; right:112px;}
     
     .main_slide_3 .main_btn_s {font-family:"S-CoreDream-5Medium"; font-size:15px; width:170px; height:80px; border-radius: 50px; color:#fff; position: absolute; top:52%; left:50%; background-color:#908975; margin:140px 0 0 -85px;transform: scale(1.0); transition:0.3s; border:0; cursor:pointer;}
     .main_slide_3 .main_btn_s:hover {background-color:#212121; cursor:pointer; transform: scale(1.1); transition: all 0.3s ease-in-out;}
     /* 세번째 메인 슬라이드 */


    section {width:100%; height:3250px; margin:0 auto; background-color:none;}

   .two_box {width:100%; height:230px; background-color:#fbe8e4;}

   .two_yogurtbox {width:1200px; height:550px; margin: 0 auto; display:flex; flex-direction: row;}
   .two_y_box:first-of-type {width:376px; height:550px; background-color:#fff; border-radius: 50px 50px 0px 0px; margin-right:10px; position:relative;}

   .two_y_box:nth-of-type(2) {width:814px; height:550px; background-color:#fff; border-radius:50px 50px 0px 0px; position:relative; flex-wrap: wrap;}

   .two_y_box h1 {font-family: "MaruBuri-Regular"; font-size:44px; color:#000; text-align:center; margin-top:98px; text-transform: uppercase; line-height:49px;}
   .two_y_box p {font-family: "S-CoreDream-4Regular"; font-size:14px; color:#878686; text-align:center; margin-top:27px; line-height:18px; letter-spacing:1px;}

    .two_y_button {font-family:"S-CoreDream-5Medium"; font-size:15px; width:185px; height:70px; border-radius:50px; color:#fff; position: absolute; top:66%; left:27%;  transform:translate(-50%, -50%); background-color:#212121; cursor:pointer; border:0; transform: scale(1.0); transition:0.3s;}
    .two_y_button:hover {background-color:#8d8b8b; cursor:pointer; transform: scale(1.1); transition: all 0.3s ease-in-out;}

    .two_y_box h2:first-of-type {font-family: 'MaruBuri-Regular'; font-size:32px; color:#3d5bb3; text-align:center;  top:13%; left:14%; position: absolute; }
    .two_y_box h2:nth-of-type(2) {font-family: 'MaruBuri-Regular'; font-size:32px; color:#3d5bb3; text-align:center;  top:13%; right:15%; position: absolute; }

    .two_y_box h3:first-of-type {font-family: 'MaruBuri-Regular'; font-size:17px; color:#595959; letter-spacing: 1px; top:29%; left:20%; position: absolute;}
    .two_y_box h3:nth-of-type(2) {font-family: 'MaruBuri-Regular'; font-size:17px; color:#595959; letter-spacing: 1px; top:29%; right:20%; position: absolute;}

    .two_y_box span:first-of-type {font-family: 'MaruBuri-Regular'; font-size:20px; color:#454444; letter-spacing: 1px; top:22%; left:31%;}
    .two_y_box span:nth-of-type(2) {font-family: 'MaruBuri-Regular'; font-size:20px; color:#454444; letter-spacing: 1px; top:22%; left:30%;}

    .two_y_box img:first-of-type {width:290px; height:280px; position: absolute; top:41%; left:10%; }
    .two_y_box img:nth-of-type(2) {width:290px; height:280px; position: absolute; top:41%; right:10%;}
    .two_y_box img:hover {transform: translateY(-20px); transition: all 0.3s ease-in-out;}

    .slider_two {width:1200px; height:500px; background-color: #eee; margin:330px auto 0; position:relative; overflow:hidden; }
    .slide_wrap_two {width:3600px; height:500px; background-color: #3d5bb3; margin:0 auto;}
    .slide_box_two {width:1200px; height:500px; background-color: #fcfbf7; margin:0px auto 0; display:flex; justify-content: space-between;  align-items: center; float:left;}

    .slide_box_two span{position: absolute; top:50%; display:block; font-size:40px;
                        color:#fff; line-height:20px; background-color: #ccc4a5; cursor:pointer; width:45px; height:50px; transform: translateY(-50%);}

    .two_prev {left:0; border-radius: 0 10px 10px 0px; padding:10px 7px;}
    .two_next {right:0; border-radius: 10px 0px 0px 10px; padding:10px 12px;}

    .slide_box_two span:hover {background-color:#d8d8d8; color:#fff;}                
    .slide_box_two:first-of-type img {width:662px; height:500px; }
    .slide_box_two:nth-of-type(2) img {width:662px; height:500px; }
    .slide_box_two:nth-of-type(3) img {width:662px; height:500px; }


    .slide_two_textbox {width:460px; height:490px; padding-right:70px; background-color: #fcfbf7; float:right;}
    .slide_box_two h3 {font-family: "MaruBuri-Regular"; font-size:36px; color:#000; margin-top:140px; float:right; text-align: right; text-transform: uppercase;}
    .slide_box_two h4 {font-family:"S-CoreDream-3Light"; font-size:15px; color:#878686;margin-top:19px; float:right; text-align:right; letter-spacing:1px; line-height:22px;}

    .like_box{width:1200px; height:620px; background-color: orange; margin:0 auto;display:flex; flex-wrap:wrap; justify-content: center; align-content: center; margin-top:10px; background: url(../img/like_bg.jpg) no-repeat; background-size: contain;}
 
    .like_box h3 {font-family: "MaruBuri-Regular"; color:#000; font-size:41px; text-align:center; width:100%; height:100px; margin-top:-8px; letter-spacing:1px;}  
    .like_box >h4 {font-family: "MaruBuri-Regular"; color:#000; font-size:29px; text-align:center; width:100%; height:80px; margin-top:-37px; letter-spacing:1px;}

    .one_box {width:100%;height:300px;display:flex; justify-content: center; align-content: center;}

    .one_box div {width:150px; height:150px; border-radius:50% 50%; margin:10px 15px;}
    .like_onebox{background-color:#fff;}
    
    .like_onebox:first-of-type img {width:80px; height:80px; margin:32px 0 0 34px;}
    .like_onebox:nth-of-type(2) img {width:100px; height:100px; margin:24px 0 0 26px;}
    .like_onebox:nth-of-type(3) img {width:84px; height:84px; margin:33px 0 0 35px;}
    .like_onebox:nth-of-type(4) img {width:118px; height:118px; margin:14px 0 0 15px;}
    .like_onebox:nth-of-type(5) img {width:80px; height:80px; margin:34px 0 0 35px;}

    .like_onebox img:hover {cursor:pointer; transform: scale(1.1); transition: all 0.3s ease-in-out;}

    .one_textbox { background-color:#fff; border-radius:40px; margin-top:-90px;display:none; text-align:center; position:relative;}    
    
    .one_textbox h4 {font-family: "MaruBuri-Regular"; color:#000; font-size:20px;
                    text-align:center; margin-top:17px; letter-spacing: 1px; text-align:center;}
   .one_textbox:nth-of-type(2) {width:880px; height:62px; display:block;}  
   .one_textbox:nth-of-type(3) {width:810px; height:62px;} 
   .one_textbox:nth-of-type(4) {width:880px; height:62px;} 
   .one_textbox:nth-of-type(5) {width:670px; height:62px;} 
   .one_textbox:nth-of-type(6) {width:890px; height:62px;} 

   .one_textbox::after {content: ''; position: absolute;top: 0; width: 0; height: 0; border: 26px solid transparent; border-bottom-color: #fff; border-top: 0; margin-left: -25px; margin-top: -25px;}
   
   .one_textbox:nth-of-type(2)::after {left: 9%;}
   .one_textbox:nth-of-type(3)::after {left: 28%;}
   .one_textbox:nth-of-type(4)::after {left: 50%;}
   .one_textbox:nth-of-type(5)::after {left: 77%;}
   .one_textbox:nth-of-type(6)::after {left: 90%;}

   .icelandic {width:100%; height:790px; background-color:#bfe0f3;}
   .icelandic_box {width:1200px; height:790px; background-color:#bfe0f3; margin:0 auto;}
   .icelandic_box h1 {font-family: "HANBatang"; color:#FFF; font-size:43px; text-align:center; 
                    letter-spacing:1px; padding-top:90px; letter-spacing:2px;}
   .icelandic_box p {font-family: "MaruBuri-Regular"; color:#FFF; font-size:27px; text-align:center; 
                    letter-spacing:1px; padding-top:8px}

   .ice_bigbox {width:1200px; height:420px; display:flex; justify-content: space-between; margin-top:55px; background-color: #bfe0f3;}
   
   .ice_box {width:388px; height:420px; border-radius:35px; border:5px solid #fff; position:relative; overflow:hidden;}

   .ice_box:first-of-type { background:url(../img/Icelandic_y_1.jpg); background-size:100% 100%;  }
   .ice_box:nth-of-type(2) { background:url(../img/Icelandic_y_2.jpg) no-repeat; background-size:cover;  }  
   .ice_box:nth-of-type(3) { background:url(../img/Icelandic_y_3.jpg); background-size:100% 100%; }

   .ice_textbox {width:100%; height:100%; position:absolute; top:0; left:0; background-color: #000; opacity:0;}

   .ice_textbox:hover {opacity:0.5; transition: all 0.7s ease; cursor:pointer;}
   .ice_textbox:hover h5 {transform: translateY(0);transition: all 0.7s ease;}
   .ice_textbox:hover p {transform: translateY(0);transition: all 0.7s ease;}

   .ice_bigbox h5 {font-family: "HANBatang"; color:#FFF; font-size:28px; text-align:center; 
        letter-spacing:1px;  margin-top:280px;transform: translateY(100px);}
   .ice_bigbox p {font-family: "MaruBuri-Regular"; color:#FFF; font-size:20px; text-align:center; 
        letter-spacing:1px;  letter-spacing: 1px;transform: translateY(100px);}

   .topping {width:100%; height:280px; background-color: #bfe0f3; margin:0 auto; }
   .topping_box {width:1200px; height:650px; margin:0 auto;}
   .topping_imgbox {width:1200px; height:650px; background-color: #fff; 
                    border-radius: 0 0 50px 50px; display:flex; align-items: stretch; justify-content: center;}

   .topping_p_box {display:flex; flex-direction: column; align-items: center;}        
   .topping_p_box:first-of-type {width:400px; height:600px; background-color: #fff;}
   .topping_p_box:nth-of-type(2) {width:400px; height:600px; background-color: #fff;}
   .topping_p_box:nth-of-type(3) {width:400px; height:600px; background-color: #fff;}

   .topping_p_box h3 {font-family: 'MaruBuri-Regular'; font-size:30px; color:#3d5bb3; 
                      padding-top:70px; text-align:center;}
   .topping_p_box h4 { font-family: 'MaruBuri-Regular'; font-size:16px; 
                       color:#595959; letter-spacing: 1px; text-align:center; padding-top:5px}
   .topping_p_box img {width:240px; height:280px; margin-top:31px;}
  
   .topping_p_box img:hover {cursor:pointer; transform: translateY(-20px); transition: all 0.4s ease-in-out;}

   .topping_btn {font-family:"S-CoreDream-5Medium"; font-size:14px; width:170px; height:70px; border-radius:50px; color:#fff; transform:translate(-50%, -50%); background-color:#212121; cursor:pointer; border:0; transform: scale(1.0); transition:0.3s; margin-top:20px;}
   .topping_btn:nth-of-type(2) {margin-top:-100px;}

   .topping_btn:hover {background-color:#878686; cursor:pointer; transform: scale(1.1); transition: all 0.3s ease-in-out;}

   .topping_border {width:100%; height:343px; border-left: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; display:flex; flex-direction: column; align-items: center;}

                    