@charset "utf-8";

     /* mobile */


     @media (max-width:599px){

          #slider{width:100%; height:950px; padding-top:100px; background-color:#fbe8e4;}

         .slide_wrap {width: 100%; height: 950px; margin: 0px auto; position: relative;overflow:hidden; }
     
         .slide {width:100%;}
         .slide > .list {width:100%; height:950px; position:absolute; left:0; top:0; }
         .slide .list:not(:first-child) {display:none;}
     
     
         .slide_wrap span{position: absolute; top:50%; display:block; font-size:30px;
          color:#000; line-height:20px; background-color: #fff; cursor:pointer; width:50px; height:50px; transform: translateY(-50%); z-index:30;}
     
          .slide_wrap span:hover{color:#fff; background-color: #000f; transition: 0.5s ease-in-out;}
     
          .main_prev {left:0; border-radius: 50%; padding:10px 13px;}
          .main_next {right:0; border-radius: 50%; padding:10px 16px;}
     
         /* 첫번째 메인 슬라이드 */
         .main_slide_1 {float:left; width:100%; height:950px; background-color:#fbe8e4; margin: 0 auto; position:relative; }
         .main_slide_1 h1 { font-family:"yg-jalnan"; font-size:60px; text-align:center; 
                     text-transform: uppercase; color:#fff; padding-top:55px; line-height:60px;}
         .main_slide_1 p { font-family:"HANBatang"; font-size:20px; text-align:center; color:#ea5f54; margin-top:25px; line-height:25px;}
       
         .main_slide_1 img:first-child {width:140px; height:173px; position: absolute; top:17px; right:8px;}
         .main_slide_1 img:nth-child(2)  {width:140px; height:170px;  position: absolute; top:400px; left:45px;}
         .main_slide_1 img:nth-child(3) {width:280px; height:286px;  position: absolute; bottom:260px; left:120px;}
         .main_slide_1 img:nth-child(4) {width:150px; height:134px;  position: absolute; bottom:230px; left:90px;}
      
         .main_slide_1 .main_btn_s {font-family:"S-CoreDream-5Medium"; font-size:15px; width:170px; height:80px; border-radius: 50px; color:#fff; position: absolute; top:52%; left:50%; background-color:#ea5f54; margin:220px 0 0 -85px; transform: scale(1.0); transition:0.3s; border:0; cursor:pointer;}
         .main_slide_1 .main_btn_s:hover {background-color:#212121; cursor:pointer; transform: scale(1.1); transition: all 0.3s ease-in-out;}
          /* 첫번째 메인 슬라이드 */
      
       
      
          /* 두번째 메인 슬라이드 */
          .main_slide_2 {float:left;  width:100%; height:950px; background-color:#fdefc2; margin: 0 auto; position:relative;}
          .main_slide_2 h1 { font-family:"yg-jalnan"; font-size:60px; text-align:center; 
                      text-transform: uppercase; color:#fff; padding-top:55px; line-height:60px;}
          .main_slide_2 p { font-family:"HANBatang"; font-size:20px; text-align:center; color:#f0b119; margin-top:25px; line-height:25px;}
      
          .main_slide_2 img:first-child {width:200px; height:213px; position: absolute; top:590px; right:0px;}
          .main_slide_2 img:nth-child(2)  {width:280px; height:286px;  position: absolute; top:400px; left:110px;}
          .main_slide_2 img:nth-child(3) {width:70px; height:45px;  position: absolute; top:25px; left:105px;}
          .main_slide_2 img:nth-child(4) {width:60px; height:41px;  position: absolute; bottom:220px; left:210px;}
      
          .main_slide_2 .main_btn_s {font-family:"S-CoreDream-5Medium"; font-size:15px; width:170px; height:80px; border-radius: 50px; color:#fff; position: absolute; top:52%; left:50%; background-color:#f0b119; margin:220px 0 0 -85px;transform: scale(1.0); transition:0.3s; border:0; cursor:pointer;}
          .main_slide_2 .main_btn_s:hover {background-color:#212121; cursor:pointer; transform: scale(1.1); transition: all 0.3s ease-in-out;}
          /* 두번째 메인 슬라이드 */
      
      
     
          /* 세번째 메인 슬라이드 */
          .main_slide_3 {float:left;  width:100%; height:950px; background-color:#e6e3db; margin: 0 auto; position:relative;}
          .main_slide_3 h1 { font-family:"yg-jalnan"; font-size:60px; text-align:center; 
                      text-transform: uppercase; color:#fff; padding-top:55px; line-height:60px;}
          .main_slide_3 p { font-family:"HANBatang"; font-size:20px; text-align:center; color:#908975; margin-top:25px; line-height:25px;}
      
          .main_slide_3 img:first-child {width:88px; height:54px; position: absolute; top:12px; left:200px;}
          .main_slide_3 img:nth-child(2)  {width:280px; height:286px;  position: absolute; top:370px; left:110px;}
          .main_slide_3 img:nth-child(3) {width:130px; height:82px;  position: absolute; bottom:130px; left:80px;}
          .main_slide_3 img:nth-child(4) {width:280px; height:158px;  position: absolute; bottom:100px; right:-30px;}
          
          .main_slide_3 .main_btn_s {font-family:"S-CoreDream-5Medium"; font-size:15px; width:170px; height:80px; border-radius: 50px; color:#fff; position: absolute; top:52%; left:50%; background-color:#908975; margin:220px 0 0 -85px;transform: scale(1.0); transition:0.3s; border:0; cursor:pointer;}
          .main_slide_3 .main_btn_s:hover {background-color:#212121; cursor:pointer; transform: scale(1.1); transition: all 0.3s ease-in-out;}
          /* 세번째 메인 슬라이드 */
     
     
         section {width:100%; height:6380px; margin:0 auto; background-color:none;}
     
        .two_box {width:100%; height:230px; background-color:#fbe8e4;}
     
        .two_yogurtbox {width:100%; height:1650px; margin: 0 auto; display:flex; flex-direction: row;
                        flex-flow:column nowrap; }
        .two_y_box:first-of-type {width:100%; height:550px; background-color:#fff; border-radius: 50px 50px 0px 0px; margin-right:10px; position:relative; margin-bottom:10px; }
     
        .two_y_box:nth-of-type(2) {width:100%; height:1100px; background-color:#fff; border-radius:50px 50px 0px 0px; position:relative; display:flex; flex-direction: column;  justify-content: center; align-items: center;}

        .two_y_2b {width:400px; height:530px; display:flex; flex-direction: column; align-items: center;}

        .two_y_box h1 {font-family: "MaruBuri-Regular"; font-size:44px; color:#000; text-align:center; margin-top:98px; text-transform: uppercase; line-height:49px;}
        .two_y_box p {font-family: "S-CoreDream-4Regular"; font-size:14px; color:#878686; text-align:center; margin-top:30px; line-height:18px; letter-spacing:1px;}
        
        .two_y_button {font-family:"S-CoreDream-5Medium"; font-size:15px; width:185px; height:70px; border-radius:50px; color:#fff; position: absolute; top:66%; left: 0; right: 0; margin: 0 auto; background-color:#212121; cursor:pointer; border:0; transform: scale(1.0); transition:0.3s; margin-top:10px;}
        .two_y_button:hover {background-color:#8d8b8b; cursor:pointer; transform: scale(1.1); transition: all 0.3s ease-in-out;}
        
        .two_y_box h2 {font-family: 'MaruBuri-Regular'; font-size:32px; color:#3d5bb3; margin-top:60px; text-align:center;  }
        .two_y_box h3 {font-family: 'MaruBuri-Regular'; font-size:17px; color:#595959; margin-top:5px; letter-spacing: 1px;  text-align:center;}
        
        .two_y_box img {width:290px; height:280px; margin-top:50px;}
        .two_y_box img:hover {transform: translateY(-20px); transition: all 0.3s ease-in-out;}
     
         .slider_two {width:100%; height:700px; background-color: #eee; margin:1430px auto 0; position:relative; overflow:hidden; }
         .slide_wrap_two {width:300vw; height:700px; margin:0 auto;}
         .slide_box_two {width:100vw; height:700px; background-color: #fcfbf7; margin:0px auto 0; display:flex; align-items:center; flex-flow:column nowrap; float:left;}
     
         .slider_two span{position: absolute; top:50%; display:block; font-size:40px;
                             color:#fff; line-height:20px; background-color: #ccc4a5; cursor:pointer; width:45px; height:50px; transform: translateY(-50%);}
     
         .two_prev {left:0; border-radius: 0 10px 10px 0px; padding:10px 7px;}
         .two_next {right:0; border-radius: 10px 0px 0px 10px; padding:10px 12px;}
     
         .slide_box_two span:hover {background-color:#d8d8d8; color:#fff;}                
         .slide_box_two img {width:100%; height:350px;}
         /* 미디어쿼리 : 662 ~ 1199px css동일 , 이 부분만 with:100%; */

     
         .slide_two_textbox {width:460px; height:350px; background-color: #fcfbf7;  }
         .slide_box_two h3 {font-family: "MaruBuri-Regular"; font-size:36px; color:#000; margin-top:80px; text-align: center; text-transform: uppercase;}
         .slide_box_two p{font-family:"S-CoreDream-4Regular"; font-size:15px; color:#6d6d6d; margin-top:19px; text-align:center; letter-spacing:1px; line-height:22px;}
     
    
         .like_box{width:100%; height:370px; background-color: orange; display:flex; flex-wrap:wrap; justify-content: center; align-content: center; margin-top:10px; background: url(../img/like_bg.jpg) no-repeat; background-size: cover;}
      
         .like_box h3 {font-family: "MaruBuri-Regular"; color:#000; font-size:31px; text-align:center; width:100%; height:100px; margin-top:50px; letter-spacing:1px;}  
         .like_box >h4 {font-family: "MaruBuri-Regular"; color:#000; font-size:20px; text-align:center; width:100%; height:80px; margin-top:-57px; letter-spacing:1px;}
     
         .one_box {width:150%;height:190px;display:flex; justify-content: center; align-content: center;}
     
         .one_box div {width:75px; height:75px; border-radius:50% 50%; margin:-25px 6px;}
         .like_onebox{background-color:#fff;}
         
         .like_onebox:first-of-type img {width:40px; height:40px; margin:16px 0 0 18px;}
         .like_onebox:nth-of-type(2) img {width:55px; height:55px; margin:9px 0 0 11px;}
         .like_onebox:nth-of-type(3) img {width:44px; height:44px; margin:15px 0 0 17px;}
         .like_onebox:nth-of-type(4) img {width:58px; height:58px; margin:7px 0 0 8px;}
         .like_onebox:nth-of-type(5) img {width:40px; height:40px; margin:18px 0 0 18px;}
     
         .like_onebox img:hover {cursor:pointer; transform: scale(1.2); transition: all 0.3s ease-in-out;}
     
         .one_textbox { background-color:#fff; border-radius:40px; margin-top:-112px;display:none; text-align:center; position:relative; }    
         
         .one_textbox h4 {font-family: "MaruBuri-Regular"; color:#000; font-size:13px;
                         text-align:center; margin-top:16px; letter-spacing: 1px; text-align:center;}
        .one_textbox:nth-of-type(4) h4 {margin-top:8px;}    
        .one_textbox:nth-of-type(3) h4 {margin-top:8px;}    
        .one_textbox:nth-of-type(6) h4 {margin-top:8px;}              
        .one_textbox:nth-of-type(2) {width:460px; height:50px; display:block;}  
        .one_textbox:nth-of-type(3) {width:460px; height:50px;} 
        .one_textbox:nth-of-type(4) {width:460px; height:50px;} 
        .one_textbox:nth-of-type(5) {width:460px; height:50px;} 
        .one_textbox:nth-of-type(6) {width:460px; height:50px;} 
     
        .one_textbox::after {content: ''; position: absolute;top: 0; width: 0; height: 0; border: 15px solid transparent; border-bottom-color: #fff; border-top: 0; margin-left: -25px; margin-top: -15px;}
        
        .one_textbox:nth-of-type(2)::after {left: 15%;}
        .one_textbox:nth-of-type(3)::after {left: 34%;}
        .one_textbox:nth-of-type(4)::after {left: 52%;}
        .one_textbox:nth-of-type(5)::after {left: 71%;}
        .one_textbox:nth-of-type(6)::after {left: 90%;}
     
        .icelandic {width:100%; height:1580px; background-color:#bfe0f3;}
        .icelandic_box {width:100%; height:790px; background-color:#bfe0f3; margin:0 auto;}
        .icelandic_box h1 {font-family: "HANBatang"; color:#FFF; font-size:35px; text-align:center; 
                         letter-spacing:1px; padding-top:60px; letter-spacing:2px;}
        .icelandic_box p {font-family: "MaruBuri-Regular"; color:#FFF; font-size:23px; text-align:center; 
                         letter-spacing:1px; padding-top:8px}
     
        .ice_bigbox {width:100%; height:auto; display:flex; margin-top:55px; background-color: #bfe0f3;  display:flex;  flex-direction: column;  align-items:center; }
        
        .ice_box {width:388px; height:420px; border-radius:35px; border:5px solid #fff;
                    margin-bottom:20px; position:relative; overflow:hidden;}
     
        .ice_box:first-of-type { background:url(../img/Icelandic_y_1.jpg); background-size:100% 100%;  }
        .ice_box:nth-of-type(2) { background:url(../img/Icelandic_y_2.jpg) no-repeat; background-size:cover;  }  
        .ice_box:nth-of-type(3) { background:url(../img/Icelandic_y_3.jpg); background-size:100% 100%; }
     
        .ice_textbox {width:100%; height:700px; position:absolute; top:0; left:0; background-color: #000; opacity:0;}
     
        .ice_textbox:hover {opacity:0.5; transition: all 0.7s ease; cursor:pointer;}
        .ice_textbox:hover h5 {transform: translateY(0);transition: all 0.7s ease;}
        .ice_textbox:hover p {transform: translateY(0);transition: all 0.7s ease;}
     
        .ice_bigbox h5 {font-family: "HANBatang"; color:#FFF; font-size:25px; text-align:center; 
             letter-spacing:1px;  margin-top:280px;transform: translateY(100px);}
        .ice_bigbox p {font-family: "MaruBuri-Regular"; color:#FFF; font-size:19px; text-align:center; 
             letter-spacing:1px;  letter-spacing: 1px; transform: translateY(100px);}
     
        .topping {width:100%; height:280px; background-color: #bfe0f3; margin:0 auto; }
        .topping_box {width:100%; height:2500px; margin:0 auto;}
        .topping_imgbox {width:100%; height:1980px; background-color: #fff; 
                         border-radius: 0 0 50px 50px; display:flex; flex-direction: column; align-items:center; }
     
        .topping_p_box {display:flex; flex-direction: column; align-items: center; }        
        .topping_p_box:first-of-type {width:400px; height:800px; background-color: #fff; padding-bottom:70px;}

        .topping_p_box:nth-of-type(2) {width:400px; height:800px; background-color: #fff; 
         border-top: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0; padding-bottom:70px; }

        .topping_p_box:nth-of-type(3) {width:400px; height:800px; background-color: #fff;}
     
        .topping_p_box h3 {font-family: 'MaruBuri-Regular'; font-size:28px; color:#3d5bb3; 
                           padding-top:70px; text-align:center;}
        .topping_p_box h4 { font-family: 'MaruBuri-Regular'; font-size:15px; 
                            color:#595959; letter-spacing: 1px; text-align:center; padding-top:8px}
        .topping_p_box img {width:240px; height:280px; margin-top:31px;}
       
        .topping_p_box img:hover {cursor:pointer; transform: translateY(-20px); transition: all 0.4s ease-in-out;}
     
        .topping_btn {font-family:"S-CoreDream-5Medium"; font-size:12px; width:150px; height:70px; border-radius:50px; color:#fff; transform:translate(-50%, -50%); background-color:#212121; cursor:pointer; border:0; transform: scale(1.0); transition:0.3s; margin-top:20px;}
        .topping_btn:nth-of-type(2) {margin-top:-100px;}
     
        .topping_btn:hover {background-color:#878686; cursor:pointer; transform: scale(1.1); transition: all 0.3s ease-in-out;}
         }
  
      /* mobile */